<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body class="text-center">
        <h1>Your Watchlist</h1>
        <ul class="row">
            <% todos.forEach( el=> { %>
                <li class='todoItem' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? ' completed' : 'not' %>'><%= el.todo %></span>
                    <span class='del'> Delete </span>
                </li>
                <% }) %>
        </ul>

        <h2>
            <%= user.userName %> has <%= left %> movies in their watchlist.
        </h2>

        <h2> Not sure what to watch? </h2>
        <p id="incoming-title"></p>
        <img src="" id="incoming-img">
        <p id="incoming-desc"></p>

        <!-- Clicking this button will make API call to generate random movie-->
        <button id="random" class='btn btn-dark'> Random</button>

        <!-- Clicking this button -->
        <form action="/todos/createTodo" method='POST'>
            <input type="text" id="movieName" name='todoItem' value=''>
            <input type="submit" id='watchlist' value='Add to watchlist' class='btn btn-danger'>
        </form>


        <a href="/logout" class="btn-sm btn-warning ">Logout</a>

        <script src="js/main.js"></script>
    </body>

</html>